@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Petrona', serif;
    src: url('/assets/fonts/Petrona.tff'),
        format("truetype");
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    src: local('/assets/fonts/Poppins-Regular.woff'), url('/assets/fonts/Poppins-Regular.woff') format('woff');
}

@layer base {
    body {
        @apply m-0 overflow-x-hidden;
        font-family: 'Poppins', sans-serif;
    }
}

hr {
    @apply border-0 shrink-0 h-px bg-neutral-800;
}

.hero-bg {
    background:
        /* top, transparent black, faked with gradient */
        linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        /* bottom, image */
        url('/assets/hero.jpg');

    background-attachment: fixed;
    background-size: cover;
}

.cool-hr::before {
    content: '';
    position: absolute;
    display: block;
    background-color: theme('colors.primary');
    width: 33%;
    height: 10px;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.quote::before {
    position: relative;
    content: '“';
    top: 0.2em;
    font-size: 2rem;
    color: #b3b3b3;
    margin: 0 0.2em;
}

.quote::after {
    position: relative;
    content: '”';
    top: 0.2em;
    font-size: 2rem;
    color: #b3b3b3;
    margin: 0 0.2em;
}